# 1:- Import the dataset using Pandas from above mentioned url.

In [89]:
# import required modules
import pandas as pd 
import numpy as np
import seaborn as sns

In [90]:
covid=pd.read_csv("C:\\Users\\Pavan Mishra\\Documents\\python work\\covid-data.csv")
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 2:- High Level Data Understanding

In [91]:
#Find no. of rows & columns in the dataset

In [92]:
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
#Data types of columns

In [94]:
covid.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [95]:
covid.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
total_tests_per_thousand              float64
new_tests_per_thousand                float64
new_tests_smoothed                    float64
new_tests_smoothed_per_thousand       float64
tests_per_case                        float64
positive_rate                         float64
stringency_index                      float64
population                            float64
population_density                    float64
median_age                            float64
aged_65_older                         float64
aged_70_older                         float64
gdp_per_capita                        float64
extreme_poverty                       float64
cardiovasc_death_rate                 float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
handwashing_facilities                float64
hospital_beds_per_thousand            float64
life_expectancy                       float64
human_development_index               float64
dtype: object

In [96]:
#Info & describe of data in dataframe.

In [97]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 49 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            57071 non-null  object
 1   continent                           56748 non-null  object
 2   location                            57394 non-null  object
 3   date                                57394 non-null  object
 4   total_cases                         53758 non-null  float64
 5   new_cases                           56465 non-null  float64
 6   new_cases_smoothed                  55652 non-null  float64
 7   total_deaths                        44368 non-null  float64
 8   new_deaths                          56465 non-null  float64
 9   new_deaths_smoothed                 55652 non-null  float64
 10  total_cases_per_million             53471 non-null  float64
 11  new_cases_per_million               56401 non-null  float64
 12  new_cases_smoothed_per_million      55587 non-null  float64
 13  total_deaths_per_million            44096 non-null  float64
 14  new_deaths_per_million              56401 non-null  float64
 15  new_deaths_smoothed_per_million     55587 non-null  float64
 16  reproduction_rate                   37696 non-null  float64
 17  icu_patients                        4490 non-null   float64
 18  icu_patients_per_million            4490 non-null   float64
 19  hosp_patients                       5005 non-null   float64
 20  hosp_patients_per_million           5005 non-null   float64
 21  weekly_icu_admissions               357 non-null    float64
 22  weekly_icu_admissions_per_million   357 non-null    float64
 23  weekly_hosp_admissions              645 non-null    float64
 24  weekly_hosp_admissions_per_million  645 non-null    float64
 25  total_tests                         22017 non-null  float64
 26  new_tests                           21787 non-null  float64
 27  total_tests_per_thousand            22017 non-null  float64
 28  new_tests_per_thousand              21787 non-null  float64
 29  new_tests_smoothed                  24612 non-null  float64
 30  new_tests_smoothed_per_thousand     24612 non-null  float64
 31  tests_per_case                      22802 non-null  float64
 32  positive_rate                       23211 non-null  float64
 33  stringency_index                    47847 non-null  float64
 34  population                          57071 non-null  float64
 35  population_density                  54371 non-null  float64
 36  median_age                          51034 non-null  float64
 37  aged_65_older                       50265 non-null  float64
 38  aged_70_older                       50768 non-null  float64
 39  gdp_per_capita                      50367 non-null  float64
 40  extreme_poverty                     33571 non-null  float64
 41  cardiovasc_death_rate               51013 non-null  float64
 42  diabetes_prevalence                 52881 non-null  float64
 43  female_smokers                      39669 non-null  float64
 44  male_smokers                        39156 non-null  float64
 45  handwashing_facilities              24176 non-null  float64
 46  hospital_beds_per_thousand          45936 non-null  float64
 47  life_expectancy                     56336 non-null  float64
 48  human_development_index             49247 non-null  float64
dtypes: float64(45), object(4)
memory usage: 21.5+ MB

In [98]:
covid.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,5.375800e+04,56465.000000,55652.000000,4.436800e+04,56465.000000,55652.000000,53471.000000,56401.000000,55587.000000,44096.000000,...,50367.000000,33571.000000,51013.000000,52881.000000,39669.000000,39156.000000,24176.000000,45936.000000,56336.000000,49247.000000
mean,1.677974e+05,1953.576941,1920.431953,6.858639e+03,47.054317,46.835439,3139.099982,39.344804,38.403211,95.335293,...,20620.172071,12.435453,252.646642,8.070269,10.741569,32.642686,52.089636,3.089724,73.937780,0.722223
std,1.693038e+06,18269.650340,17777.391785,5.578081e+04,390.853776,378.272794,6183.455260,133.985155,101.649441,180.721699,...,20310.999832,19.427924,117.522344,4.189605,10.470743,13.453566,31.645306,2.513193,7.397016,0.153261
min,1.000000e+00,-8261.000000,-552.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2212.545000,-269.978000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,1.800000e+02,0.000000,0.857000,1.300000e+01,0.000000,0.000000,90.033000,0.000000,0.260000,3.977750,...,5321.444000,0.500000,156.139000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.601000
50%,2.070000e+03,14.000000,19.429000,8.400000e+01,0.000000,0.286000,593.663000,2.194000,3.863000,20.383000,...,13913.839000,2.000000,238.339000,7.110000,6.400000,31.400000,52.232000,2.500000,75.345000,0.752000
75%,2.235675e+04,235.000000,245.286000,7.270000e+02,4.000000,4.000000,3487.050000,25.941000,29.678500,90.571250,...,31400.840000,18.100000,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.847000
max,5.515465e+07,646281.000000,584981.857000,1.328537e+06,10600.000000,9027.714000,76541.772000,8652.658000,2472.188000,1248.014000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

# 3:- Low Level Data Understanding

In [99]:
#a. Find count of unique values in location column.

In [100]:
covid["location"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'World',
       'International'], dtype=object)

In [101]:
# Find which continent has maximum frequency using values counts

In [102]:
covid["continent"].value_counts()

Europe           14828
Africa           13637
Asia             13528
North America     9116
South America     3404
Oceania           2235
Name: continent, dtype: int64

In [103]:
# Find maximum & mean value in 'total_cases'.

In [104]:
covid.groupby("continent").agg({"total_cases":"mean","total_cases":"max"})

               total_cases
continent
Africa            752269.0
Asia             8874290.0
Europe           1991233.0
North America   11205486.0
Oceania            27750.0
South America    5876464.0

In [105]:
# Find 25%,50% & 75% quartile value in 'total_deaths'.

In [106]:
# Find which continent has maximum 'human_development_index'.

In [107]:
covid.groupby("continent").agg({"human_development_index":"max"})

               human_development_index
continent
Africa                           0.797
Asia                             0.933
Europe                           0.953
North America                    0.926
Oceania                          0.939
South America                    0.843

In [108]:
#Find which continent has minimum 'gdp_per_capita'.

In [109]:
covid.groupby("continent").agg({"gdp_per_capita":"min"})

               gdp_per_capita
continent
Africa                661.240
Asia                 1479.147
Europe               5189.972
North America        1653.173
Oceania              2205.923
South America        6885.829

# 4:- Filter the dataframe with only this columns ['continent','location','date','total_cases','total_deaths','gdp_per_capita','

In [110]:
covid.filter(["continent","location","date","total_cases","total_deaths","gdp_per_capita","human_development_index"])

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,Asia,Afghanistan,31-12-2019,NaN,NaN,1803.987,0.498
1,Asia,Afghanistan,01-01-2020,NaN,NaN,1803.987,0.498
2,Asia,Afghanistan,02-01-2020,NaN,NaN,1803.987,0.498
3,Asia,Afghanistan,03-01-2020,NaN,NaN,1803.987,0.498
4,Asia,Afghanistan,04-01-2020,NaN,NaN,1803.987,0.498
...,...,...,...,...,...,...,...
57389,NaN,International,13-11-2020,696.0,7.0,NaN,NaN
57390,NaN,International,14-11-2020,696.0,7.0,NaN,NaN
57391,NaN,International,15-11-2020,696.0,7.0,NaN,NaN
57392,NaN,International,16-11-2020,696.0,7.0,NaN,NaN
57393,NaN,International,17-11-2020,696.0,7.0,NaN,NaN

# 5:- Data Cleaning

In [111]:
#a.Remove all duplicates observations?

In [112]:
covid.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
57389    False
57390    False
57391    False
57392    False
57393    False
Length: 57394, dtype: bool

In [113]:
covid.duplicated().sum()

0

In [114]:
covid[covid.duplicated()]

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, tests_per_case, positive_rate, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 49 columns]

In [115]:
covid.drop_duplicates()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
#b. Find missing values in all columns

In [117]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 49 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            57071 non-null  object
 1   continent                           56748 non-null  object
 2   location                            57394 non-null  object
 3   date                                57394 non-null  object
 4   total_cases                         53758 non-null  float64
 5   new_cases                           56465 non-null  float64
 6   new_cases_smoothed                  55652 non-null  float64
 7   total_deaths                        44368 non-null  float64
 8   new_deaths                          56465 non-null  float64
 9   new_deaths_smoothed                 55652 non-null  float64
 10  total_cases_per_million             53471 non-null  float64
 11  new_cases_per_million               56401 non-null  float64
 12  new_cases_smoothed_per_million      55587 non-null  float64
 13  total_deaths_per_million            44096 non-null  float64
 14  new_deaths_per_million              56401 non-null  float64
 15  new_deaths_smoothed_per_million     55587 non-null  float64
 16  reproduction_rate                   37696 non-null  float64
 17  icu_patients                        4490 non-null   float64
 18  icu_patients_per_million            4490 non-null   float64
 19  hosp_patients                       5005 non-null   float64
 20  hosp_patients_per_million           5005 non-null   float64
 21  weekly_icu_admissions               357 non-null    float64
 22  weekly_icu_admissions_per_million   357 non-null    float64
 23  weekly_hosp_admissions              645 non-null    float64
 24  weekly_hosp_admissions_per_million  645 non-null    float64
 25  total_tests                         22017 non-null  float64
 26  new_tests                           21787 non-null  float64
 27  total_tests_per_thousand            22017 non-null  float64
 28  new_tests_per_thousand              21787 non-null  float64
 29  new_tests_smoothed                  24612 non-null  float64
 30  new_tests_smoothed_per_thousand     24612 non-null  float64
 31  tests_per_case                      22802 non-null  float64
 32  positive_rate                       23211 non-null  float64
 33  stringency_index                    47847 non-null  float64
 34  population                          57071 non-null  float64
 35  population_density                  54371 non-null  float64
 36  median_age                          51034 non-null  float64
 37  aged_65_older                       50265 non-null  float64
 38  aged_70_older                       50768 non-null  float64
 39  gdp_per_capita                      50367 non-null  float64
 40  extreme_poverty                     33571 non-null  float64
 41  cardiovasc_death_rate               51013 non-null  float64
 42  diabetes_prevalence                 52881 non-null  float64
 43  female_smokers                      39669 non-null  float64
 44  male_smokers                        39156 non-null  float64
 45  handwashing_facilities              24176 non-null  float64
 46  hospital_beds_per_thousand          45936 non-null  float64
 47  life_expectancy                     56336 non-null  float64
 48  human_development_index             49247 non-null  float64
dtypes: float64(45), object(4)
memory usage: 21.5+ MB

In [118]:
#c.Remove all observations where continent column value is missing

In [119]:
covid.duplicated("continent")

0        False
1         True
2         True
3         True
4         True
         ...
57389     True
57390     True
57391     True
57392     True
57393     True
Length: 57394, dtype: bool

In [120]:
covid.duplicated("continent").sum()

57387

In [121]:
covid[covid.duplicated("continent")]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
1,AFG,Asia,Afghanistan,01-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
5,AFG,Asia,Afghanistan,05-01-2020,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,NaN,NaN,International,13-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,NaN,NaN,International,14-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,NaN,NaN,International,15-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,NaN,NaN,International,16-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,NaN,NaN,International,17-11-2020,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
covid.drop_duplicates("continent")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
323,ALB,Europe,Albania,09-03-2020,2.0,2.0,NaN,NaN,0.0,NaN,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.785
577,DZA,Africa,Algeria,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,13913.839,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.754
1396,AIA,North America,Anguilla,27-03-2020,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1875,ARG,South America,Argentina,04-03-2020,1.0,1.0,NaN,NaN,0.0,NaN,...,18933.907,0.6,191.032,5.50,16.200,27.700,NaN,5.000,76.67,0.825
2701,AUS,Oceania,Australia,31-12-2019,NaN,0.0,NaN,NaN,0.0,NaN,...,44648.710,0.5,107.791,5.07,13.000,16.500,NaN,3.840,83.44,0.939
56748,OWID_WRL,NaN,World,31-12-2019,27.0,27.0,NaN,NaN,0.0,NaN,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN

In [123]:
#d. Fill all missing values with 0

In [124]:
covid.isnull().sum()

iso_code                                323
continent                               646
location                                  0
date                                      0
total_cases                            3636
new_cases                               929
new_cases_smoothed                     1742
total_deaths                          13026
new_deaths                              929
new_deaths_smoothed                    1742
total_cases_per_million                3923
new_cases_per_million                   993
new_cases_smoothed_per_million         1807
total_deaths_per_million              13298
new_deaths_per_million                  993
new_deaths_smoothed_per_million        1807
reproduction_rate                     19698
icu_patients                          52904
icu_patients_per_million              52904
hosp_patients                         52389
hosp_patients_per_million             52389
weekly_icu_admissions                 57037
weekly_icu_admissions_per_million     57037
weekly_hosp_admissions                56749
weekly_hosp_admissions_per_million    56749
total_tests                           35377
new_tests                             35607
total_tests_per_thousand              35377
new_tests_per_thousand                35607
new_tests_smoothed                    32782
new_tests_smoothed_per_thousand       32782
tests_per_case                        34592
positive_rate                         34183
stringency_index                       9547
population                              323
population_density                     3023
median_age                             6360
aged_65_older                          7129
aged_70_older                          6626
gdp_per_capita                         7027
extreme_poverty                       23823
cardiovasc_death_rate                  6381
diabetes_prevalence                    4513
female_smokers                        17725
male_smokers                          18238
handwashing_facilities                33218
hospital_beds_per_thousand            11458
life_expectancy                        1058
human_development_index                8147
dtype: int64

In [125]:
covid["iso_code"].mode()[0]

'AFG'

In [126]:
covid["iso_code"]=covid["iso_code"].fillna(covid["iso_code"].mode()[0])

In [127]:
covid["new_cases"]=covid["new_cases"].fillna(covid["new_cases"].mode()[0])

In [128]:
covid["total_cases"]=covid["total_cases"].fillna(covid["total_cases"].mode()[0])

In [129]:
covid["new_cases_smoothed"]=covid["new_cases_smoothed"].fillna(covid["new_cases_smoothed"].mode()[0])

In [130]:
covid["total_deaths"]=covid["total_deaths"].fillna(covid["total_deaths"].mode()[0])

In [131]:
covid["total_cases_per_million"]=covid["total_cases_per_million"].fillna(covid["total_cases_per_million"].mode()[0])

In [132]:
covid["new_deaths_smoothed"]=covid["new_deaths_smoothed"].fillna(covid["new_deaths_smoothed"].mode()[0])

In [133]:
covid["new_deaths"]=covid["new_deaths"].fillna(covid["new_deaths"].mode()[0])

In [134]:
covid["new_cases_smoothed_per_million"]=covid["new_cases_smoothed_per_million"].fillna(covid["new_cases_smoothed_per_million"].mode()[0])

In [135]:
covid["total_deaths_per_million"]=covid["total_deaths_per_million"].fillna(covid["total_deaths_per_million"].mode()[0])

In [136]:
covid["new_cases_per_million"]=covid["new_cases_per_million"].fillna(covid["new_cases_per_million"].mode()[0])

In [137]:
covid["reproduction_rate"]=covid["reproduction_rate"].fillna(covid["reproduction_rate"].mode()[0])

In [138]:
covid["icu_patients"]=covid["icu_patients"].fillna(covid["icu_patients"].mode()[0])

In [139]:
covid["icu_patients_per_million"]=covid["icu_patients_per_million"].fillna(covid["icu_patients_per_million"].mode()[0])

In [140]:
covid["icu_patients_per_million"]=covid["icu_patients_per_million"].fillna(covid["icu_patients_per_million"].mode()[0])

In [141]:
covid["hosp_patients"]=covid["hosp_patients"].fillna(covid["hosp_patients"].mode()[0])

In [142]:
covid["hosp_patients_per_million"]=covid["hosp_patients_per_million"].fillna(covid["hosp_patients_per_million"].mode()[0])

In [143]:
covid["weekly_icu_admissions"]=covid["weekly_icu_admissions"].fillna(covid["weekly_icu_admissions"].mode()[0])

In [144]:
covid["weekly_icu_admissions_per_million"]=covid["weekly_icu_admissions_per_million"].fillna(covid["weekly_icu_admissions_per_million"].mode()[0])

In [145]:
covid["weekly_hosp_admissions"]=covid["weekly_hosp_admissions"].fillna(covid["weekly_hosp_admissions"].mode()[0])

In [146]:
covid["weekly_hosp_admissions_per_million"]=covid["weekly_hosp_admissions_per_million"].fillna(covid["weekly_hosp_admissions_per_million"].mode()[0])

In [147]:
covid["total_tests"]=covid["total_tests"].fillna(covid["total_tests"].mode()[0])

In [148]:
covid["total_tests_per_thousand"]=covid["total_tests_per_thousand"].fillna(covid["total_tests_per_thousand"].mode()[0])

In [149]:
covid["new_tests_per_thousand"]=covid["new_tests_per_thousand"].fillna(covid["new_tests_per_thousand"].mode()[0])

In [150]:
covid["new_tests_smoothed"]=covid["new_tests_smoothed"].fillna(covid["new_tests_smoothed"].mode()[0])

In [151]:
covid["new_tests_smoothed_per_thousand"]=covid["new_tests_smoothed_per_thousand"].fillna(covid["new_tests_smoothed_per_thousand"].mode()[0])

In [152]:
covid["tests_per_case"]=covid["tests_per_case"].fillna(covid["tests_per_case"].mode()[0])

In [153]:
covid["positive_rate"]=covid["positive_rate"].fillna(covid["positive_rate"].mode()[0])

In [154]:
covid["stringency_index"]=covid["stringency_index"].fillna(covid["stringency_index"].mode()[0])

In [155]:
covid["population"]=covid["population"].fillna(covid["population"].mode()[0])

In [156]:
covid["population_density"]=covid["population_density"].fillna(covid["population_density"].mode()[0])

In [157]:
covid["median_age"]=covid["median_age"].fillna(covid["median_age"].mode()[0])

In [158]:
covid["aged_65_older"]=covid["aged_65_older"].fillna(covid["aged_65_older"].mode()[0])

In [159]:
covid["aged_70_older"]=covid["aged_70_older"].fillna(covid["aged_70_older"].mode()[0])

In [160]:
covid["gdp_per_capita"]=covid["gdp_per_capita"].fillna(covid["gdp_per_capita"].mode()[0])

In [161]:
covid["extreme_poverty"]=covid["extreme_poverty"].fillna(covid["extreme_poverty"].mode()[0])

In [162]:
covid["cardiovasc_death_rate"]=covid["cardiovasc_death_rate"].fillna(covid["cardiovasc_death_rate"].mode()[0])

In [163]:
covid["diabetes_prevalence"]=covid["diabetes_prevalence"].fillna(covid["diabetes_prevalence"].mode()[0])

In [164]:
covid["female_smokers"]=covid["female_smokers"].fillna(covid["female_smokers"].mode()[0])

In [165]:
covid["male_smokers"]=covid["male_smokers"].fillna(covid["male_smokers"].mode()[0])

In [166]:
covid["handwashing_facilities"]=covid["handwashing_facilities"].fillna(covid["handwashing_facilities"].mode()[0])

In [167]:
covid["hospital_beds_per_thousand"]=covid["hospital_beds_per_thousand"].fillna(covid["hospital_beds_per_thousand"].mode()[0])

In [168]:
covid["life_expectancy"]=covid["life_expectancy"].fillna(covid["life_expectancy"].mode()[0])

In [169]:
covid["human_development_index"]=covid["human_development_index"].fillna(covid["human_development_index"].mode()[0])

In [170]:
covid["new_deaths_smoothed_per_million"]=covid["new_deaths_smoothed_per_million"].fillna(covid["new_deaths_smoothed_per_million"].mode()[0])

In [171]:
covid["new_tests"]=covid["new_tests"].fillna(covid["new_tests"].mode()[0])

In [172]:
covid["continent"]=covid["continent"].fillna(covid["continent"].mode()[0])

In [173]:
covid["new_deaths_per_million"]=covid["new_deaths_per_million"].fillna(covid["new_deaths_per_million"].mode()[0])

In [174]:
covid.isnull().sum()

iso_code                              0
continent                             0
location                              0
date                                  0
total_cases                           0
new_cases                             0
new_cases_smoothed                    0
total_deaths                          0
new_deaths                            0
new_deaths_smoothed                   0
total_cases_per_million               0
new_cases_per_million                 0
new_cases_smoothed_per_million        0
total_deaths_per_million              0
new_deaths_per_million                0
new_deaths_smoothed_per_million       0
reproduction_rate                     0
icu_patients                          0
icu_patients_per_million              0
hosp_patients                         0
hosp_patients_per_million             0
weekly_icu_admissions                 0
weekly_icu_admissions_per_million     0
weekly_hosp_admissions                0
weekly_hosp_admissions_per_million    0
total_tests                           0
new_tests                             0
total_tests_per_thousand              0
new_tests_per_thousand                0
new_tests_smoothed                    0
new_tests_smoothed_per_thousand       0
tests_per_case                        0
positive_rate                         0
stringency_index                      0
population                            0
population_density                    0
median_age                            0
aged_65_older                         0
aged_70_older                         0
gdp_per_capita                        0
extreme_poverty                       0
cardiovasc_death_rate                 0
diabetes_prevalence                   0
female_smokers                        0
male_smokers                          0
handwashing_facilities                0
hospital_beds_per_thousand            0
life_expectancy                       0
human_development_index               0
dtype: int64

In [175]:
x=covid.drop("continent",axis=1)

In [176]:
covid.drop("continent",axis=1)
covid[]

SyntaxError: invalid syntax (Temp/ipykernel_12620/2276996874.py, line 2)

# 6:-Date time format

In [ ]:
#a. Convert date column in datetime format using pandas.to_datetime

In [ ]:
import datetime as dt

In [ ]:
covid.continent("date")

In [ ]:
covid.date.dt.strftime